---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
const pageTitle = "Fernando Sandoval Garza - Experience";
const allWork = Object.values(await import.meta.glob('./work/*.md', { eager: true }));
const allEducation = Object.values(await import.meta.glob('./education/*.md', { eager: true }));
const allPublications = Object.values(await import.meta.glob('./publications/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>    
    <div class="title">
            Work
    </div>
    <div id="work" class="content">
        {allWork.map((job:any) => <ExperienceItem
                                        title={job.frontmatter.title} 
                                        subtitle={job.frontmatter.subtitle} 
                                        startDate={job.frontmatter.startDate} 
                                        endDate={job.frontmatter.endDate}
                                        description={job.frontmatter.description}
                                        link={job.frontmatter.link}
                                        bulletOne={job.frontmatter.bulletOne} 
                                        bulletTwo={job.frontmatter.bulletTwo} 
                                        bulletThree={job.frontmatter.bulletThree} 
                                        bulletFour={job.frontmatter.bulletFour}
                                        />)}

    </div>

     <div class="title">
        Education
    </div>
    <div id="education" class="content">
        {allEducation.map((edu:any) => <ExperienceItem
                                        title={edu.frontmatter.title} 
                                        subtitle={edu.frontmatter.subtitle} 
                                        startDate={edu.frontmatter.startDate} 
                                        endDate={edu.frontmatter.endDate}
                                        description={edu.frontmatter.description}
                                        link={edu.frontmatter.link}
                                        bulletOne={edu.frontmatter.bulletOne} 
                                        bulletTwo={edu.frontmatter.bulletTwo} 
                                        bulletThree={edu.frontmatter.bulletThree} 
                                        bulletFour={edu.frontmatter.bulletFour}
                                        />)}
    </div>
    
    <div class="title">
        Publications
    </div>
    <div id="publications" class="content">
        {allPublications.map((pub:any) => <ExperienceItem
                                        title={pub.frontmatter.title} 
                                        subtitle={pub.frontmatter.subtitle} 
                                        startDate={pub.frontmatter.startDate} 
                                        endDate={pub.frontmatter.endDate}
                                        description={pub.frontmatter.description}
                                        link={pub.frontmatter.link}
                                        bulletOne={pub.frontmatter.bulletOne} 
                                        bulletTwo={pub.frontmatter.bulletTwo} 
                                        bulletThree={pub.frontmatter.bulletThree} 
                                        bulletFour={pub.frontmatter.bulletFour}
                                        />)}
    </div>
</BaseLayout>