---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";
const pageTitle = "My Astro Learning Blog";
const allProjects = Object.values(await import.meta.glob('./projects/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
    <div class="title">
            Projects
    </div>
    <div id="work" class="content">
        {allProjects.map((project:any) => <ProjectItem
                                        url={project.url}
                                        title={project.frontmatter.title} 
                                        company={project.frontmatter.company} 
                                        startDate={project.frontmatter.startDate} 
                                        endDate={project.frontmatter.endDate}
                                        tagline={project.frontmatter.tagline}
                                        bulletOne={project.frontmatter.bulletOne} 
                                        bulletTwo={project.frontmatter.bulletTwo} 
                                        bulletThree={project.frontmatter.bulletThree} 
                                        bulletFour={project.frontmatter.bulletFour}
                                        />)}
    </div>
</BaseLayout>