---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";
const pageTitle = "Fernando Sandoval Garza - Projects";
const allProjects = Object.values(await import.meta.glob('./projects/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
    <div class="title">
            Projects
    </div>
    <div id="projects" class="content">
        {allProjects.map((project:any) => <ProjectItem
                                        url={project.url}
                                        externalUrl={project.frontmatter.externalUrl}
                                        title={project.frontmatter.title}
                                        pubDate={project.frontmatter.pubDate}
                                        lastUpdated={project.frontmatter.lastUpdated}
                                        description={project.frontmatter.description}
                                        />)}
    </div>
</BaseLayout>