---
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkItem from "../components/WorkItem.astro";
const pageTitle = "My Astro Learning Blog";
const allWork = Object.values(await import.meta.glob('./work/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
    <div class="title">
            Work
    </div>
    <div id="work" class="content">
        {allWork.map((job:any) => <WorkItem
                                        title={job.frontmatter.title} 
                                        company={job.frontmatter.company} 
                                        startDate={job.frontmatter.startDate} 
                                        endDate={job.frontmatter.endDate}
                                        tagline={job.frontmatter.tagline}
                                        bulletOne={job.frontmatter.bulletOne} 
                                        bulletTwo={job.frontmatter.bulletTwo} 
                                        bulletThree={job.frontmatter.bulletThree} 
                                        bulletFour={job.frontmatter.bulletFour}
                                        />)}
    </div>
</BaseLayout>