---
const { title, company, startDate, endDate, description, bulletOne, bulletTwo, bulletThree, bulletFour } = Astro.props;
---
<div class="experience">
    <div class="experience-title">{title}</div>
    <div class="experience-company">{company}</div>
    <div class="experience-dates">{startDate} - {endDate}</div>
    <div class="experience-description"><em>{description}</em></div>
    <ul class="experience-bullets">
        {bulletOne && <li>{bulletOne}</li>}
        {bulletTwo && <li>{bulletTwo}</li>}
        {bulletThree && <li>{bulletThree}</li>}
        {bulletFour && <li>{bulletFour}</li>}
    </ul>
</div>

<style>
    .experience {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }
    
    .experience-title {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .experience-company {
        font-size: 0.9rem;
        font-weight: 100;
    }
    
    .experience-dates {
        font-size: 0.9rem;
        font-weight: 100;
    }
    
    .experience-description {
        font-size: 1rem;
    }

    .experience-bullets {
        /* margin: 0; */
        margin-top: 0;
        font-size: 1rem;
        font-weight: 200;
    }
</style>